

.item {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    position: relative;
    z-index: 99999;
}


@media screen and (min-width: 768px) {
    .item {
        display: none;
    }
}