.container {
    padding: 19px 10px 19px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.2s linear;
    cursor: pointer;
    text-decoration: none;
}

.container:hover, .active {
    background-color: #fff;
    border: 1px solid #E9E9E9
}

.icon { 
    margin-right: 30px;
    position: relative;
    width: 34px;
    height: 34px;
}

.text {
    font-size: 16px;
    
    color: #505050;
}


@media screen and (max-width: 1440px) {
    .text {
        font-size: 14px;
    }

    .container {
        padding: 10px 15px;
    }
}


@media screen and (max-width: 992px) {
    .icon  {
        width: 26px;
        min-width: 26px!important;
        height: 26px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .text {
        font-size: 18px;
    }
    .container {
        padding: 17px;
        border: 1px solid #E9E9E9;
        margin-bottom: 10px;
    }
}


