.container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    opacity: 0.8;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 24px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.link {
    text-transform: none;
    text-decoration: none;
    color: #008bff
}
